# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfvars
infrastructure/lambda_function.zip

# Frontend
frontend/config.js

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# OS
.DS_Store
*.swp
*.swo
